/* Footer */

ul.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul.footer-links li {
    display: inline;
    margin-right: 8px;
}

ul.footer-links li a {
    color: #888;
}

