.icon-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.icon-16-new-message {      background-image: url("../gfx/icons/email.png"); }
.icon-16-old-message {      background-image: url("../gfx/icons/email_open.png"); }
.icon-16-send-message {     background-image: url("../gfx/icons/email_go.png"); }
.icon-16-project {          background-image: url("../gfx/icons/project.png"); }
.icon-16-add-project {      background-image: url("../gfx/icons/project_add.png"); }
.icon-16-delete-project {   background-image: url("../gfx/icons/project_delete.png"); }
.icon-16-edit {             background-image: url("../gfx/icons/edit.png"); }
.icon-16-details {          background-image: url("../gfx/icons/details.png"); }
.icon-16-delete {           background-image: url("../gfx/icons/delete.png"); }
.icon-16-feedback {         background-image: url("../gfx/icons/feedback.png"); }
.icon-16-more {             background-image: url("../gfx/icons/more.png"); }
.icon-16-spinner {          background-image: url("../gfx/icons/spinner.gif"); }
.icon-16-door-in {          background-image: url("../gfx/icons/door_in.png"); }
.icon-16-door-out {         background-image: url("../gfx/icons/door_out.png"); }
.icon-16-door-open {        background-image: url("../gfx/icons/door_open.png"); }
.icon-16-door-closed {      background-image: url("../gfx/icons/door.png"); }
.icon-16-report      {      background-image: url("../gfx/icons/report.png"); }
.icon-16-report-add {       background-image: url("../gfx/icons/report_add.png"); }
.icon-16-bug {              background-image: url("../gfx/icons/bug.png"); }
.icon-16-bug-add {          background-image: url("../gfx/icons/bug_add.png"); }
.icon-16-tick {             background-image: url("../gfx/icons/tick.png"); }
.icon-16-cross {            background-image: url("../gfx/icons/cross.png"); }
.icon-16-icon {             background-image: url("../gfx/icons/icon.png"); }
