/*
 * color scheme:
 * orange: #FA0, #D40
 */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    background: #F6F6F6;
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, a.h1 {
    margin-bottom: 8px;
    color: #444;
}

h2 {
    margin: 10px 10px 6px 10px;
    font-size: 16pt;
    font-weight: normal;
    color: #039;
    letter-spacing: 1pt;
}

hr {
    border: 0;
    border-top: 1px solid #CCC;
}

hr.fat {
    border-width: 3px;
    margin: 30px 0;
}

a {
    color: #56F;
    text-decoration: none;
}

p {
    margin: 6px 0;
}

blockquote {
    margin: 0;
    padding-left: 5px;
    border-left: 2px solid #248;
}

code {
    background: #DDC;
    padding: 1px 3px;
}

pre code {
    padding: 2px 10px;
    display: block;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

div.icon img {
    border: 2px solid #FFF;
    box-shadow: 0 0 0px 1px #BBB;
}
