.icon-16 {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: -3px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-right: 5px;
}

.icon-16-new-message {
	background-image: url("icons/email.png");
}

.icon-16-old-message {
	background-image: url("icons/email_open.png");
}

.icon-16-send-message {
	background-image: url("icons/email_go.png");
}

.icon-16-project {
	background-image: url("icons/project.png");
}

.icon-16-add-project {
	background-image: url("icons/project_add.png");
}

.icon-16-delete-project {
	background-image: url("icons/project_delete.png");
}

.icon-16-feedback {
	background-image: url("icons/feedback.png");
}

.icon-16-more {
	background-image: url("icons/more.png");
}
