/*
 * color scheme:
 * orange: #FA0, #D40
 */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9pt;
	background: #F6F6F6;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	margin-bottom: 8px;
}

h2 {
	margin: 10px 10px 6px 10px;
	font-size: 16pt;
	font-weight: normal;
	color: #039;
	letter-spacing: 1pt;
}

hr {
	border: 0;
	border-top: 1px solid #CCC;
}

a {
	color: #56F;
	text-decoration: none;
}

p {
	margin: 6px 0;
}

form {
	padding: 0;
	margin: 0;
}

a:hover {
	text-decoration: underline;
}

input {
	vertical-align: middle;
	margin-left: 0;
}

textarea,
input.input-text,
input.input-password {
	border: 1px solid #AAA;
	background: #FFF;
	border-radius: 4px;
	padding: 3px 6px;
	color: #888;
}

textarea:focus,
input.input-text:focus,
input.input-password:focus {
	border-color: #888;
	color: #666;
	box-shadow: 0 0 3px #DDD inset;
	outline: 0;
}

textarea.compose-message {
	width: 100%;
	height: 200px;
}

input.search-text {
	border-color: #e5e5e5;
}

input.search-text:focus {
	border-color: #CCC;
}

input.form-error {
	border-color: #F00;
}

span.form-error {
	color: #F00;
	display: inline-block;
	padding: 3px 10px;
	background: #FCC;
	border: 1px solid #F00;
	border-radius: 4px;
	vertical-align: middle;
}


input.search-text {
	background: #FFF url("search.png") 6px center no-repeat;
	padding-left: 24px;
}

#WRAPPER {
	background: #FFF;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #d3d3d3;
	width: 900px;
	margin: 10px auto;
}

#HEADER {
	background: -webkit-gradient(linear, left top, left bottom, from(#FA0), to(#D40));
	background: #F90;
	height: 100px;
	box-shadow: 0 0 2px rgba(0,0,0,0.4) inset;
}
#HEADER-TEXT {
	background: url("logo.png") left top no-repeat;
	width: 615px;
	height: 100px;
}

#CONTENT {
	min-height: 50%;
}

.box {
	background: #F6F6F6;
	background: -webkit-gradient(linear, left bottom, left top, from(#F6F6F6), to(#FFF));
	border: 1px solid #CCC;
	border-radius: 4px;
	margin: 0;
	margin-bottom: 10px;
}

.box > h4 {
	font-size: 1em;
	border-bottom: 1px solid #CCC;
	padding: 4px 10px;
}

.box > p {
	margin: 4px 10px;
}

.box p.form-buttons {
	padding: 4px 10px;
	border-top: 1px solid #CCC;
	background: #EEEEFF;
	margin: 0;
	text-align: right;
}

.columns {
	display: table-row;
	width: 100%;
}

.columns > div {
	display: table-cell;
}

.columns > div.columns-separator {
	width: 10px;
}

div#TAB-BAR {
	text-align: right;
}

a img {
	border: none;
}

ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tabs li {
	display: inline-block;
}

.box p.form-buttons input,
ul.tabs li a {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DDD));
	color: #666;
	text-decoration: none;
	font-weight: bold;
	padding: 4px 10px;
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	text-shadow: 1px 1px 1px #FFF;
	cursor: pointer;
	
	-webkit-transition: box-shadow 0.2s linear, color 0.2s linear, background 0.2s linear;
}

.box p.form-buttons input.default {
	background: -webkit-gradient(linear, left top, left bottom, from(#9AF), to(#37F));
	border-color: #558;
	color: #FFF;
	text-shadow: 0 -1px 1px #339;
}

ul.tabs li a:hover {
	color: #222;
}

.box p.form-buttons input:hover {
	color: #222;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.box p.form-buttons input.default:hover {
	color: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#ACF), to(#48F));
}

ul.tabs li.current a {
	background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#FFF));
	box-shadow: 0 1px 1px #FFF inset;
}

ul.tabs.hanging-tabs {
	margin-top: 4px;
}

ul.tabs.hanging-tabs li a {
	border-radius: 0 0 5px 5px;
	border-top: 0;
}


ul.tabs.standing-tabs {
	margin-bottom: 4px;
}

ul.tabs.standing-tabs li a {
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
}

ul.tabs.small-tabs li a {
	padding: 3px 8px;
}

ul.tabs.standing-tabs li.current a{
	border-bottom: 1px solid #FFF;
	margin-bottom: -1px;
}

a span#inbox-count {
	background: rgba(0,0,0,0.6);
	border-radius: 4px;
	color: #FFF;
	text-shadow: none;
	font-weight: normal;
	display: inline-block;
	font-size: 8pt;
	width: 14px;
	text-align: center;
	padding: 1px;
}

a:hover span#inbox-count {
	background: rgba(0,0,0,1);
}

img#tabbar-profile-icon {
	vertical-align: top; 
	margin-right: 4px;
}


/* DASHBOARD */

ul.projects-list {
	list-style: none;
	padding: 0 10px;
	margin: 0;
}

ul.projects-list li {
	padding: 10px;
	border-bottom: 1px solid #CCC;
	margin-left: 70px;
}

ul.projects-list li div.icon {
	width: 50px;
	float:left;
	margin-left: -70px;
}

ul.projects-list li div.icon img,
div.message-thread div.message div.icon img,
ul.message-list-ul li div.icon img {
	border: 2px solid #FFF;
	box-shadow: 0 0 0px 1px #BBB;
}

ul.projects-list li div.title {
	font-size: 12pt;
	font-weight: bold;
}

ul.projects-list li div.description {
	margin: 5px 0;
}

ul.projects-list li div.meta,
ul.projects-list li div.meta a,
ul.projects-list li div.meta a.author,
ul.projects-list li div.meta a.testers {
	color: #666;
	font-size: 8pt;
}

ul.projects-list li div.creation-date {

}

ul.projects-list li div.description {

}


#FOOTER {
}

ul.footer-links {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

ul.footer-links li {
	display: inline;
	margin-right: 8px;
}

ul.footer-links li a {
	color: #888;
}



.login-form {
	width: 300px;
	margin: 30px auto;
}

form.login-form label {
	display: inline-block;
	width: 70px;
	font-weight: bold;
	color: #444;
	text-shadow: 1px 1px 1px #FFF;
	font-size: 8pt;
	text-align: right;
	padding-right: 10px;
}

ul.message-list-ul {
	list-style: none;
	padding: 0;
	margin: 10px;
}

ul.message-list-ul li {
	margin-top: 2px;
	background: #EEF;
	-webkit-transition: background 0.2s linear;
	padding: 4px 10px;
	cursor: pointer;
	border-radius: 4px;
}

ul.message-list-ul li.unread {
	background: #CDF;
}

ul.message-list-ul li.selected {
	background: #FC5;
}

ul.message-list-ul li a {
	color: background 0.2s linear;
}
ul.message-list-ul li.selected a {
	color: #000;
}

ul.message-list-ul li .selection {
	float: left;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 5px;
}

ul.message-list-ul li .flags {
	float: right;
	margin-top: 9px;
}

ul.message-list-ul li .title {
	font-size: 11pt;
	font-weight: bold;
}
	
ul.message-list-ul li .icon {
	float: left;
	margin-top: 3px;
}
	
ul.message-list-ul li .message,
ul.message-list-ul li .title {
	margin-left: 64px;
	margin-right: 100px;
}

ul.message-list-ul li .meta {
	font-size: 9pt;
	color: #888;
}

ul.message-list-ul li .message {
	color: #444;
	margin-top: 2px;
}


div.message-thread div.message {
	margin: 10px 20px;
	padding: 10px 10px;
	border-bottom: 1px solid #CCC;
}

div.message-thread div.message div.icon {
	float: left;
}

div.message-thread div.message div.right  {
	margin-left: 48px;
}

div.message-thread div.message div.meta {
	font-weight: bold;
	font-size: 10pt;
}

div.message-thread div.message div.meta a.author {
	font-size: 11pt;
}

div.message-write {
	margin: 20px 80px;
}

form.message-new-form label {
	display: inline-block;
	width: 50px;
	margin-right: 10px;
	vertical-align: middle;
	text-align: right;
	font-weight: bold;
	font-size: 8pt;
}

form.message-new-form input.input-text {
	width: 658px;
}
