{% from "macros.html" import printTab, time, displayMessages, tagsList, render_projects_list, render_user_list, includeCSS, includeJS with context %}
<html>
    <head>
        <title>betatest » {% block pagetitle %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='gfx/icons/favicon-16-blue.ico') }}" rel="icon" type="image/x-icon" />
        {{ includeCSS("style.css") }}
        {{ includeCSS("icons.css") }}
        {{ includeJS("jquery.js") }}
        {{ includeJS("jquery.autocomplete.js") }}
        {{ includeJS("jquery.bgiframe.js") }}
        {{ includeJS("jquery.tooltip.js") }}
        {{ includeJS("general.js") }}
        {{ includeJS("messages.js") }}
        {{ includeJS("tags.js") }}
        {% block head %}{% endblock %}

        <script>
            var $ROOT_PATH = {{ request.script_root|tojson|safe }};
        </script>
    </head>
    <body>
        <div id="WRAPPER">
            <a href="{{ url_for('home') }}">
            <div id="HEADER">
                <div id="HEADER-TEXT"></div>
            </div>
            </a>
            <div id="TAB-BAR">
                <ul class="tabs hanging-tabs">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('projects') }}">Projects</a></li>
                </ul>

                <div id="SEARCH-BAR">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search..." name="q" {% if request.endpoint == "search" %}value="{{ request.args.get('q', '') }}" {% endif %}class="input-text search-text" size="40" />
                    </form>
                </div>


                <ul class="tabs hanging-tabs" style="text-align: right">
                    {% if session.logged_in %}
                        <li><a href="{{ current_user.url() }}"><img  width="14" height="14"
                         id="tabbar-profile-icon" src="{{ current_user.getAvatar(14) }}"> {{ session.username }}</a></li>
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        {% set inbox = current_user.getNewMessageCount() %}
                        <li><a href="{{ url_for('dashboard', page='messages') }}">Inbox{% if inbox %} <span id="inbox-count">{{ inbox }}</span>{% endif %}</a></li>
                        <li><a href="{{ url_for('dashboard', page='notifications') }}">Notifications</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>


            <div id="CONTENT">
                {% block content %}{% endblock %}
            </div>
            <div style="clear: both;"></div>
            <div id="FOOTER">
                <ul class="footer-links">
                    <li><a href="{{ url_for('help', page = 'about') }}">About</a></li>
                    <li><a href="{{ url_for('help') }}">Help</a></li>
                    <li><a href="{{ url_for('help', page = 'contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('help', page = 'tos') }}">Terms of Service</a></li>
                    <li><a href="{{ url_for('help', page = 'privacy') }}">Privacy</a></li>
                    <li><a href="http://github.com/opatut/betatest" target="_blank">Development</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
