{% macro printTab(mainpage, name, caption, icon) -%}
	<li {% if name == subpage %}class="current"{% endif %}><a href="/{{mainpage}}/{{ name }}">{% if icon %}<span class="icon-16 icon-16-{{ icon }}"></span>{% endif %}{{ caption }}</a></li>
{%- endmacro %}

{% macro time(time, class="") -%}
    <span {% if class != "" %}class="{{class}}" {% endif %}title="{{ time | formattime }}">{{ time | humantime }}</span>
{%- endmacro %}

{% macro displayMessages() -%}
{% with messages = get_flashed_messages(with_categories = True) %}
{% if messages %}
<ul class="flash-messages">
{% for category, message in messages %}
	<li class="flash-{% if category != 'message' %}{{ category }}{% else %}info{% endif %}">{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{%- endmacro %}


{% macro render_projects_list(projects, small_view = False, highlight = '') -%}
{% if small_view %}
<ul class="small-projects-list">		
{% for project in projects %}
<li>
	<div class="icon">
		<a href="{{ project.url() }}">
			<img width="16" height="16" src="{{ project.getIcon(16) }}" />
		</a>
	</div>
	<div class="title">
		<a href="{{ project.url() }}">{{ project.title | search_highlight(highlight) }}</a>
		<div class="author">
			by <a class="author" href="{{ project.author.url() }}">{{ project.author.username }}</a>
		</div>
	</div>
</li>
{% endfor %}
</ul>
{% else %}
<ul class="projects-list">		
{% for project in projects %}
<li>
	<div class="icon">
		<a href="{{ project.url() }}"><img src="{{ project.getIcon(48) }}" /></a>
	</div>
	<div class="title"><a href="{{ project.url() }}">{{ project.title }}</a></div>
	<div class="description">{{ project.description | markdown | wordcrop(40) }}</div>
	<div class="meta">
		by <b><a class="author" href="/{{ project.author.username }}">{{ project.author.username }}</a></b> |
		created <b>{{ time(project.creation_date, "creation-date") }}</b> |
		<a class="testers" href="{{ project.url() }}/testers"><b>{{ project.testers | length }}</b> tester{% if project.testers | length != 1 %}s{% endif %}</a>
	</div>
</li>
{% endfor %}
</ul>
{% endif %}
{%- endmacro %}

{% macro render_user_list(users, max = 0, highlight = '') -%}
<ul class="userlist">
	{% set counter = 0 %}
	{% for user in users if (counter < max or max == 0) %}
	{% set counter = counter + 1 %}
	<li>
		<a href="{{ user.url() }}">
			<div class="icon">
				<img width="16" height="16" src="{{ user.getAvatar(16) }}" />
			</div>
			<div class="more">
				<span class="icon-16 icon-16-more"></span>
			</div>
			<div class="username">
				{{ user.username | search_highlight(highlight) }}
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{%- endmacro %}

<html>
	<head>
		<title>betatest » {% block pagetitle %}{% endblock %}</title>
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ url_for('static', filename='icons.css') }}" rel="stylesheet" type="text/css" />
		<script src="{{ url_for('static', filename='jquery.js') }}"> </script>
		<script src="{{ url_for('static', filename='messages.js') }}"> </script>
	</head>
	<body>
		<div id="WRAPPER">
			<div id="HEADER">
				<div id="HEADER-TEXT"></div>
			</div>
			<div id="TAB-BAR">
				<ul class="tabs hanging-tabs">
					{% if session.logged_in %}
						{% set l_user = g.usersession.getCurrentUser() %}
						<li><a href="{{ l_user.url() }}"><img
						 id="tabbar-profile-icon" src="{{ l_user.getAvatar(14) }}"> {{ session.username }}</a></li>
						
						<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
						{% set inbox = g.usersession.getCurrentUser().getNewMessageCount() %}
						<li><a href="{{ url_for('dashboard', page='messages') }}">Inbox{% if inbox %} <span id="inbox-count">{{ inbox }}</span>{% endif %}</a></li>
						<li><a href="/settings">Account</a></li>
						<li><a href="{{ url_for('logout') }}">Log Out</a></li>
					{% else %}
						<li><a href="{{ url_for('login') }}">Login</a></li>
					{% endif %}
				</ul>
			</div>
			<div id="SEARCH-BAR">
				<form action="/search" method="get">
					<input type="text" placeholder="Search..." name="q" {% if request.endpoint == "search" %}value="{{ request.args.get('q', '') }}" {% endif %}class="input-text search-text" size="40" />
				</form>
			</div>
			
			
			<div id="CONTENT">
				{% block content %}{% endblock %}
			</div>
			<div id="FOOTER">
				<ul class="footer-links">
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/terms-of-service">Terms of Service</a></li>
					<li><a href="/privacy">Privacy</a></li>
					<li><a href="http://github.com/opatut/betatest" target="_blank">Development</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
