{% extends "dashboard.html" %}

{% block dashboard %}
<p>
	<ul class="projects-list">
		
		{% for project in projects %}
		<li>
			<div class="icon">
				<img src="{{ url_for('static', filename='project-unknown-48.png') }}" />
			</div>
			<div class="title"><a href="#">{{ project.title }}</a></div>
			<div class="description">{{ project.description }}</div>
			<div class="meta">
				by <b><a class="author" href="/user/{{ project.author.username }}">{{ project.author.username }}</a></b> |
				created <b>{{ time(project.creation_date, "creation-date") }}</b> |
				<b>{{ project.testers | length }}</b> tester{% if project.testers | length != 1 %}s{% endif %}
			</div>
		</li>
		{% endfor %}
	</ul>
</p>
<p align="right">
	<a href="#">show more &raquo;</a>
</p>
{% endblock dashboard %}
