{% extends "dashboard.html" %}

{% block page_title %}{{ message.title }}{% endblock %}

{% block buttons %}
    <li><a href="/dashboard/messages/new"><span class="icon-16 icon-16-new-message"></span>Compose a message</a></li>
{% endblock %}

{% block dashboard %}
    {% if thread %}
    <div class="columns">
        <h2 style="min-width: 400px;">
            {{ thread.subject }}
        </h2>
        <div class="column-separator"></div>
        <div class="icon message-thread-participants">
            {% for p in thread.participants %}
            <a class="tooltip" href="{{ p.url() }}" title="{{ p.username }}"><img width="16" height="16" src="{{ p.getAvatar(16) }}" /></a>
            {% endfor %}
        </div>
    </div>
    <hr />
    <div class="message-thread">
        {% for message in thread.messages %}
        <a name="reply-{{ message.id }}"></a>
        <div class="message {% if not read_date or read_date < message.send_date %} unread{% endif %}">
            <div class="icon">
                <a href="{{ message.sender.url() }}"><img width="32" height="32" src="{{ message.sender.getAvatar(32) }}"></a>
            </div>
            <div class="right">
                <div class="meta">
                    <a class="author" href="{{ message.sender.url() }}">{{ message.sender.username }}</a> said {{ time(message.send_date) }}:
                </div>
                <div class="content markdown">
                    {{ message.message | markdown }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>Reply</h2>

    <div class="message-write">
        <form action="{{ url_for('show_message', thread_id = thread.id) }}" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.message(class="compose-message") }}
                {% for error in form.message.errors %}<div class="form-error">{{ error }}</div>{% endfor %}
            </p>
            <p style="float:right;">Parsed with <a href="/help/messages/compose">Markdown</a></p>
            <input type="submit" value="Send reply" class="button default">
        </form>
    </div>
    {% elif threads %}
    {% if not current_user.participating_message_threads %}
    <div class="box-content">
        <p>You do not have any messages in your inbox.</p>
    </div>
    {% else %}
    <form class="message-list-form" method="post" action="{{ url_for('message_action') }}">
        <ul class="entry-list" id="message-list">
        {% for t in current_user.participating_message_threads %}
            {% set read = t.isReadByUser() %}
            {% set message = t.messages[-1] %}
            {% set is_sender = (message.sender == current_user) %}

            <li{% if not read %} class="unread"{% endif %}>
                <div class="selection">
                    <input type="checkbox" class="selection" name="thread-{{ t.id }}"/>
                </div>
                <div class="icon">
                    <img width="24" height="24" src="{{ message.sender.getAvatar(24) }}">
                </div>
                <div class="flags">
                    <div class="icon message-list-participants">
                        {% for p in t.getRandomParticipants(5, message.sender) %}
                            <a href="{{ p.url() }}" title="{{ p.username }}" class="tooltip"><img width="16" height="16" src="{{ p.getAvatar(16) }}" /></a>
                        {% endfor %}
                    </div>
                    {% if read %}
                    <span title="Read" class="icon-16 icon-16-old-message"></span>
                    {% else %}
                    <span title="Unread" class="icon-16 icon-16-new-message"></span>
                    {% endif %}
                    <a href="{{ message.url() }}" title="View thread"><span class="icon-16 icon-16-more"></span></a>
                </div>
                <div class="caption">
                    <a class="message_title" href="{{ message.url() }}">{{ t.subject }}</a>
                    <span class="meta">
                        {% if is_sender %}sent{%else%}received{%endif%}
                        {{ time(message.send_date, "send_date") }}
                        {% if is_sender %}
                            to
                            {% if t.participants | length == 2 %}
                                {% set rec = t.participants[0] %}{% if rec == current_user %}{% set rec = t.participants[1] %}{% endif %}
                                <a class="sender" href="{{ rec.url() }}">{{ rec.username }}</a>
                            {% else %}
                                {{ t.participants | length - 1 }} receivers
                            {% endif %}
                        {%else%}
                            from <a class="sender" href="{{ message.sender.url() }}">{{ message.sender.username }}</a>
                        {%endif%}


                        {% set r = (t.messages | length - 1) %}
                        {% if r > 0 %}| {{r}} repl{%if r == 1%}y{%else%}ies{%endif%}{%endif%}
                    </span>
                </div>

                <div class="text">
                    {{ message.message | markdown | wordcrop(40) }}
                </div>

            </li>
        {% endfor %}
        </ul>
        <p class="form-buttons">

            <input style="float: left;" type="button" name="select_all" class="select_all no-js-hide" value="Select all" />

            <input type="submit" name="delete" value="Delete" />
            <input type="submit" name="markunread" value="Mark as unread" />
            <input type="submit" name="markread" value="Mark as read" class="default"/>
        </p>
    </form>
    {% endif %}
    {% elif newmessage %}
        <h2>Compose a message</h2>
        <div class="message-write">
            <form class="message-new-form" method="post" action="{{ url_for('new_message') }}">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.receiver.label }}{{ form.receiver(class="input-text user-autocomplete", value = receiver) }}
                    {% for error in form.receiver.errors %}<div class="form-error">{{ error }}</div>{% endfor %}
                </p>
                <p>
                    {{ form.subject.label }}{{ form.subject(class="input-text") }}
                    {% for error in form.subject.errors %}<div class="form-error">{{ error }}</div>{% endfor %}
                </p>
                <p>
                    {{ form.message(class="compose-message") }}
                    {% for error in form.message.errors %}<div class="form-error">{{ error }}</div>{% endfor %}
                </p>
                <p align="right"><input type="submit" value="Send message" class="button default"/></p>
            </form>
        </div>
    {% else %}
        <p>Invalid call!</p>
    {% endif %}

{% endblock %}
