{% extends "dashboard.html" %}

{% set notifications = current_user.notifications.all() %}

{% block page_title %}{{ message.title }}{% endblock %}

{% block buttons %}
    {% if notifications %}
    <li><a href="{{ url_for('delete_all_notifications') }}"><span class="icon-16 icon-16-delete"></span>Delete all</a></li>
    {% endif %}
{% endblock %}

{% block dashboard %}
    {% if not notifications %}
    <div class="box-content">
        <p>You don't have any notifications.</p>
    </div>
    {% else %}
    <ul class="notifications-list">
    {% for notification in notifications %}
        <li>
        {{ notification.render() | safe }}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
