{% extends "dashboard.html" %}

{% block page_title %}{{ message.title }}{% endblock %}

{% block dashboard %}
	{% if message %}
		<h4>{{ message.title }}</h4>
		<p>{{ message.message }}</p>
	{% elif messages %}
		<!--<ul>
		{% for message in messages %}
			<li><a href="/dashboard/messages/{{ message.id }}">{{ message.title }}</a></li>
		{% endfor %}
		</ul>-->

		<form>
			<table>
				<tr>
					<th></th>
					<th>Subject</th>
					<th>Date</th>
					<th>From</th>
				</tr>
				{% for message in messages %}
				<tr>
					<td><input type="checkbox" name="message_action[]" value="{{ message.id }}" /></td>
					<td>{{ message.title }}</td>
					<td>{{ message.send_date | humantime }}</td>
					<td>{{ message.sender.username }}</td>
				</tr>
				{% endfor %}
			</table>
			<select name="message_action_choise">
				<option value="none">-- Please Chose --</option>
				<option value="delete">Delete selected</option>
				<option value="read">Mark selected as read</option>
				<option value="unread">Mark selected ad unread</option>
			</select>
			<input type="submit" value="Do it!" />
		</form>
	{% else %}
		<p>Invalid call!</p>
	{% endif %}

{% endblock %}
