{% extends "base.html" %}

{% block pagetitle %}Profile{% endblock %}

{% block content %}
    {{ displayMessages() }}
    <div class="details-page">
        <div class="left">
            <div class="icon">
                {% if user == current_user %}
                <a href="http://en.gravatar.com/emails/" title="Change your icon at gravatar.com" target="_blank">
                {% else %}
                <a href="{{ user.getAvatar(256) }}" target="_blank">
                {% endif %}
                <img width="80" height="80" src="{{ user.getAvatar(80) }}" />
                </a>
            </div>

            <ul class="details-page-links">
                {% if session.username == user.username %}
                <li><a href="{{ url_for('settings') }}"><span class="icon-16 icon-16-edit"></span>Edit Profile</a></li>
                {% else %}
                <li><a href="{{ url_for('new_message', receiver = user.username ) }}"><span class="icon-16 icon-16-send-message"></span>Contact</a></li>
                {% endif %}
                {% block user_buttons %}{% endblock %}
            </ul>

        </div>
        <div class="right">

            <div class="username">
                <h1><a class="h1" href="{{ user.url() }}">{{ user.username }}</a>{% if user.realname %} <span class="realname">({{ user.realname }})</span>{% endif %}</h1>
            </div>
            <div class="columns">
                <div class="box">
                    <h4>Details</h4>
                    <div class="box-content">
                        <table class="details">
                            <tr><th>Email</th><td>{{ user.email | mailto }}</td>
                            <tr><th>Member since</th><td>{{ time(user.registered_date) }}</td></tr>
                            {% if user.location %}<tr><th>Location</th><td>{{ user.location }}</td></tr>{% endif %}
                            {% if user.realname %}<tr><th>Real name</th><td>{{ user.realname }}</td></tr>{% endif %}
                            {% if user.website %}<tr><th>Website</th><td>{{ user.website | link(target="_blank") }}</td></tr>{% endif %}
                        </table>
                    </div>
                </div>
                <div class="columns-separator"></div>
                <div class="box" style="width: 410px">
                    <h4>Reputation &amp; Rating</h4>
                    <div class="box-content">
                        <table class="details">
                            <tr><th>Speed</th><th><div class="progress-bar mini"><div class="progress-bar-inner" style="width: 70%"></div></div></th><td rowspan="4"><div class="profile-rating">9.0</div></td></tr>
                            <tr><th>Reports</th><th><div class="progress-bar mini"><div class="progress-bar-inner" style="width: 50%"></div></div></th></tr>
                            <tr><th>Friendly</th><th><div class="progress-bar mini"><div class="progress-bar-inner" style="width: 98%"></div></div></th></tr>
                            <tr><th>Activity</th><th><div class="progress-bar mini"><div class="progress-bar-inner" style="width: 60%"></div></div></th></tr>
                        </table>

                    </div>
                </div>
            </div>

            {% if user.projects.all() or user.tags %}
            <div class="columns">
                {% if user.projects.all() %}
                <div class="box">
                    <h4>Projects</h4>
                    <div class="box-content">
                        {{ render_projects_list(user.projects.all()) }}
                    </div>
                </div>
                {% endif %}

                {% if user.tags and user.projects %}
                <div class="columns-separator"></div>
                {% endif %}

                {% if user.tags %}
                <div class="box" style="width: 160px;">
                    <h4>Favorite tags</h4>
                    <div class="box-content">
                        <p>
                            {{ tagsList(tags = user.tags) }}
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}

            {% if user.tested_projects %}
            <div class="box">
                <h4>Tested projects</h4>
                <div class="box-content">
                    {{ render_projects_list(user.tested_projects, True) }}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock content %}
