{% extends "project.html" %}

{% block project_buttons %}{% endblock %}

{% block project_details %}
<div class="box">
    <h4>About the user</h4>
    <div class="box-content">
        <table class="details">
            <tr>
                <th>Username</th>
                <td>{{ application.user.username }}</td>
            </tr>
            <tr>
                <th>Realname</th>
                <td>{{ application.user.realname }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="box">
    <h4>Application letter</h4>
    <div class="box-content">
        <p>{{ application.text | markdown}}</p>
    </div>
    {% if application.status != 'accepted' %}
    <p class="form-buttons">
        <a href="{{ url_for('project_application_handle', username = project.author.username, project = project.slug, applicant = application.user.username, handle = 'accept') }}" class="button green">Accept</a>
        {% if application.status != 'declined' %}
        <a href="{{ url_for('project_application_handle', username = project.author.username, project = project.slug, applicant = application.user.username, handle = 'decline') }}" class="button red">Decline</a>
        {% endif %}
    </p>
    {% endif %}
</div>
{% endblock %}
