{% extends "project.html" %}

{% block project_buttons %}{% endblock %}

{% block project_details %}
<div class="box">
    <h4>Tester applications</h4>
    <ul class="notifications-list">
    {% for application in project.applications  if application.status != 'accepted' and application.status != 'declined' %}
        <li>
            {% set icon_size = 24 %}
            <div class="icon">
                <a href="{{ application.user.url() }}" class="tooltip" title="View the profile of {{ application.user.username }}">
                <img width="{{ icon_size }}" height="{{ icon_size }}" src="{{ application.user.getAvatar(icon_size) }}" />
                </a>
            </div>
            <div class="flags">
                <a href="{{ application.url() }}/accept" title="Accept this application"><span class="icon-16 icon-16-tick"></span></a>
                <a href="{{ application.url() }}/decline" title="Decline this application"><span class="icon-16 icon-16-cross"></span></a>
                <a href="{{ application.url() }}" title="Show application details"><span class="icon-16 icon-16-more"></span></a>
            </div>
            <div class="caption">
                <a href="{{ application.user.url() }}">{{ application.user.username }}</a>
                <span class="meta">applied {{ time(application.creation_date) }}:</span>
            </div>
            <div class="text">
                <a href="{{ application.url() }}" class="tooltip" title="Show application details">
                {{ application.text | markdown | striphtml | wordcrop(40) }}
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="box">
    <h4>Declined applications</h4>
    <ul class="notifications-list">
    {% for application in project.applications  if application.status == 'declined' %}
        <li>
            {% set icon_size = 24 %}
            <div class="icon">
                <a href="{{ application.user.url() }}" class="tooltip" title="View the profile of {{ application.user.username }}">
                <img width="{{ icon_size }}" height="{{ icon_size }}" src="{{ application.user.getAvatar(icon_size) }}" />
                </a>
            </div>
            <div class="flags">
                <a href="{{ application.url() }}/accept" title="Accept this application"><span class="icon-16 icon-16-tick"></span></a>
                <a href="{{ application.url() }}" title="Show application details"><span class="icon-16 icon-16-more"></span></a>
            </div>
            <div class="caption">
                <a href="{{ application.user.url() }}">{{ application.user.username }}</a>
                <span class="meta">applied {{ time(application.creation_date) }}:</span>
            </div>
            <div class="text">
                <a href="{{ application.url() }}" class="tooltip" title="Show application details">
                {{ application.text | markdown | striphtml | wordcrop(40) }}
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="box">
    <h4>Accepted applications</h4>
    <ul class="notifications-list">
    {% for application in project.applications if application.status == 'accepted' %}
        <li>
            {% set icon_size = 24 %}
            <div class="icon">
                <a href="{{ application.user.url() }}" class="tooltip" title="View the profile of {{ application.user.username }}">
                <img width="{{ icon_size }}" height="{{ icon_size }}" src="{{ application.user.getAvatar(icon_size) }}" />
                </a>
            </div>
            <div class="flags">
                <a href="{{ application.url() }}" title="Show application details"><span class="icon-16 icon-16-more"></span></a>
            </div>
            <div class="caption">
                <a href="{{ application.user.url() }}">{{ application.user.username }}</a>
                <span class="meta">applied {{ time(application.creation_date) }}:</span>
            </div>
            <div class="text">
                <a href="{{ application.url() }}" class="tooltip" title="Show application details">
                {{ application.text | markdown | striphtml | wordcrop(40) }}
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

