{% extends "project.html" %}

{% block project_buttons %}{% endblock %}

{% block project_details %}
<h2>Reports</h2>
{% if project.reports %}
{% for report in project.reports %}
<div class="box">
    <h4><a href="{{ url_for('project_report_details', username = project.author.username, project = project.slug, id = report.id) }}">{{ report.subject }}</a></h4>
    <div class="box-content">
        <p>{{ report.report | markdown }}</p>
    </div>
</div>
{% endfor %}
{% else %}
<p>No Reports submitet yet.</p>
{% endif %}
{% endblock %}


