{% extends "project.html" %}

{% block project_buttons %}
<ul class="tabs" style="float: right;">
    {% if session.username == project.author.username %}
    <li><a href="{{ url_for('project_edit', username = project.author.username, project = project.slug) }}"><span class="icon-16 icon-16-edit"></span>Edit Project</a></li>
    {% else  %}
    <li><a href="{{ url_for('project_apply', username = project.author.username, project = project.slug) }}"><span class="icon-16 icon-16-door-in"></span>Send Application</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block project_details %}
    <div class="columns">
        {% if not testers %}
        <div class="box">
            <h4>Details</h4>
            <div class="box-content">
                <table class="details">
                    <tr><th>Author</th><td>
                        <a href="{{ user.url() }}"><img width="16" height="16" style="vertical-align:top;" src="{{ user.getAvatar(16) }}" /></a>
                        <a href="{{ user.url() }}">{{ user.username }}</a>
                        </a>
                    </td></tr>
                    <tr><th>Created</th><td>{{ time(project.creation_date) }}</td></tr>
                    {% if project.homepage %}<tr><th>Homepage</th><td>{{ project.homepage | link }}</td></tr>{% endif %}
                    {% if project.tags %}
                    <tr><th>Tags</th><td>
                        {{ tagsList(tags = project.tags) }}
                    </td></tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="columns-separator"></div>
        {% endif %}
        <div style="width: 200px">
            <div class="box">
                <h4>Testers</h4>
                {% if testers %}
                    {{ render_user_list(project.testers) }}
                {% else %}
                    {{ render_user_list(project.testers, 10) }}
                {% endif %}

                {% if not testers and project.testers | length > 10 %}
                    <p class="form-buttons">
                        <a class="button" href="{{ url_for('project_testers', username = project.author.username, project = project.slug) }}">Show all</a>
                    </p>
                {% elif testers %}
                    <p class="form-buttons">
                        <a class="button default" href="{{ project.url() }}">&laquo; Back to project</a>
                    </p>
                {% endif %}
            </div>
            {% if session.username == project.author.username and project.applications %}
            <div class="box">
                <h4>Applications</h4>
                {{ render_user_list(project.getApplicants(), 10, href = url_for('project_application_details', username = project.author.username, project = project.slug, applicant = '{0}') ) }}
                <p class="form-buttons">
                    <a class="button" href="{{ url_for('project_applications', username = project.author.username, project = project.slug) }}">Show more &raquo;</a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    {% if not testers %}
    <div class="box">
        <h4>Description</h4>
        <div class="box-content markdown">
            {{ project.description | markdown }}
        </div>
    </div>
    {% endif %}


{% endblock %}
