{% extends "base.html" %}

{% block pagetitle %}Projects{% endblock %}

{% block content %}
    <div class="profile">
        <div class="left">
            <div class="icon">
                <a href="{{ project.url() }}">
                <img width="80" height="80" src="{{ project.getIcon(80) }}" />
                </a>
            </div>

            <ul class="profile-links">
                {% set is_tester = g.usersession.getCurrentUser() in project.testers %}
                {% set is_author = session.username == project.author.username %}

                <li><a href="{{ project.url() }}"><span class="icon-16 icon-16-details"></span>Details</a></li>

                {% if is_tester or is_author %}
                <li><a href="{{ url_for('project_reports', username = project.author.username, project = project.slug) }}"><span class="icon-16 icon-16-report"></span>Reports ({{ project.reports | length }})</a></li>
                <li><a href="{{ url_for('project_report', username = project.author.username, project = project.slug) }}"><span class="icon-16 icon-16-report-add"></span>New Report</a></li>
                <li><a href="{{ url_for('project_bugtracker', username = project.author.username, project = project.slug) }}"><span class="icon-16 icon-16-bug"></span>Bugs ({{ project.bugs | length }})</a></li>
                <li><a href="{{ url_for('project_bugtracker_report', username = project.author.username, project = project.slug) }}"><span class="icon-16 icon-16-bug-add"></span>Submit bug</a></li>
                {% endif %}

                {% if is_author %}
                <li><a href="{{ url_for('project_edit', username = project.author.username, project = project.slug) }}"><span class="icon-16 icon-16-edit"></span>Edit Project</a></li>
                <li><a href="{{ url_for('project_change_icon', username = project.author.username, project = project.slug) }}"><span class="icon-16 icon-16-icon"></span>New icon</a></li>
                {% elif not is_tester and not g.usersession.getCurrentUser().hasAppliedForProject(project.id) %}
                <li><a href="{{ url_for('project_apply', username = project.author.username, project = project.slug) }}"><span class="icon-16 icon-16-door-in"></span>Apply</a></li>
                {% endif %}
                {% block project_buttons %}{% endblock %}
            </ul>

        </div>
        <div class="right">
            <h1 class="project-title"><a class="h1" href="{{ project.url() }}">{{ project.title }}</a>
            <span class="author">by <a href="{{ project.author.url() }}">{{ project.author.username }}</a></span></h1>

            {{ displayMessages() }}

            {% block project_details %}{% endblock %}
        </div>
    </div>

{% endblock content %}
