{% extends "project.html" %}

{% block project_buttons %}{% endblock %}

{% block project_details %}
{% for application in project.applications %}
<div class="box">
    <h4>About the user</h4>
    <div class="box-content">
        <table class="details">
            <tr>
                <th>Username</th>
                <td>{{ application.user.username }}</td>
            </tr>
            <tr>
                <th>Realname</th>
                <td>{{ application.user.realname }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="box">
    <h4>Application letter</h4>
    <div class="box-content">
        <p>{{ application.text | markdown}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}

